{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="container">
        {% include 'includes/song_list.html' with songs=list_songs title='Song List' %}
        {% include 'includes/song_list.html' with songs=other_songs title='Songs others might know' %}
        <p>
            <a href="{% url 'admin:setlist_song_add' %}" target="_blank">Add a song</a>
        </p>
        <p>
            <a href="{% url 'admin:setlist_featurerequest_add' %}">Suggest a Feature</a>
        </p>
    </div>

{% endblock content %}
